*{
    margin: 0;
    padding: 0;
    // background-color: aqua;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family:sans-serif,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

