@import'Colors';

Footer{
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $third;
    color: $first;
}
.link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-direction: column;
    gap: 0.7rem;

    >a{
        font-size: 1.6rem;
        color: $dark;
        transition: all ease 0.5s;
    }
    >a:hover{
        color: $first;
    }
}

